:root {
  --body-bg-color: hsl(30, 38%, 92%);
  --darkCyan: hsl(158, 36%, 37%);
  --darkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --hover-aquamarine: hsl(158, 42%, 18%);
}

.fraunces-bold {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.875rem;
  background-color: var(--body-bg-color);
}

h2 {
  color: var(--darkBlue);
  margin: 12px 0;
  font-size: 2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

article {
  background-color: var(--white);
  width: 90%;
  border-radius: 8px;
}

picture {
  display: flex;
  height: 100%;
}

.img-mobile {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.content {
  padding: 24px;
}

.overline {
  text-transform: uppercase;
  color: var(--darkGrayishBlue);
  margin: 0;
  letter-spacing: 0.313rem;
}

.description {
  color: var(--darkGrayishBlue);
  line-height: 1.6;
}

.price {
  display: flex;
  color: var(--darkCyan);
  margin-bottom: 14px;
}

del {
  color: var(--darkGrayishBlue);
  font-size: 0.813rem;
  text-decoration: line-through;
  margin: auto 0 auto 16px;
}

button {
  display: flex;
  justify-content: center;
  color: var(--white);
  background-color: var(--darkCyan);
  width: 100%;
}

button:hover {
  cursor: pointer;
  background-color: var(--hover-aquamarine);
}

.button-text {
  border-radius: 8px;
  border: none;
  padding: 16px 0;
}

.iconBtn {
  margin-right: 8px;
}

@media (min-width: 768px) {
  article {
    display: flex;
    width: 600px;
  }

  .img-mobile {
    width: 250px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
  }
}
